<h2 style='color:purple' align='center'>BANK NOTE CLASSIFICATION SHIKHAR</h2>

<p><b>We have a dataset containing prices of used BMW cars. We are going to analyze this dataset
and build a prediction function that can predict a price by taking mileage and age of the car
as input. We will use sklearn train_test_split method to split training and testing dataset</b></p>

In [20]:
import pandas as pd
df=pd.read_csv(r"C:\Users\lom\Desktop\banknotes.txt")
df.head()

   variance  skewness  curtosis  entropy  class
0  -0.89569   3.00250 -3.606700 -3.44570      1
1   3.47690  -0.15314  2.530000  2.44950      0
2   3.91020   6.06500 -2.453400 -0.68234      0
3   0.60731   3.95440 -4.772000 -4.48530      1
4   2.37180   7.49080  0.015989 -1.74140      0

# HAVING SEEN THE DATASET; LET US SPLIT THE DATASET IN 80/20

<p style='color:purple'><b>The approach we are going to use here is to split available data in two sets</b></p>
    <ol>
        <b>
        <li>Training: We will train our model on this dataset</li>
        <li>Testing: We will use this subset to make actual predictions using trained model</li>
        </b>
     </ol>
<p style='color:purple'><b>The reason we don't use same training set for testing is because our model has seen those samples before, using same samples for making predictions might give us wrong impression about accuracy of our model. It is like you ask same questions in exam paper as you taught the students in the class.
</b></p>

In [21]:
X = df[['variance','skewness','curtosis','entropy']]

In [22]:
y = df['class']

In [23]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [24]:
X_train

      variance  skewness  curtosis  entropy
851    3.58290   1.44230   1.02190  1.40080
1225  -0.70346   2.95700  -3.59470 -3.14570
1209   3.94600   6.85140  -1.54430 -0.55820
677    0.11806   0.39108  -0.98223  0.42843
404    2.99400   7.20110  -1.21530  0.32110
...        ...       ...       ...      ...
733   -1.41740  -2.25350   1.51800  0.61981
393   -2.32110   3.16600  -1.00020 -2.71510
1006  -4.73310  -6.17890  11.38800 -1.07410
710    3.81170  10.14570  -4.04630 -4.56290
955    1.22470   8.77790  -2.21350 -0.80647

[1097 rows x 4 columns]

In [25]:
X_test

      variance  skewness  curtosis  entropy
996   -1.58770  -6.60720   5.80220  0.31593
293   -3.26920 -12.74060  15.55730 -0.14182
1241   1.64500   7.86120  -0.87598 -3.55690
1109   1.42760   8.38470  -2.09950 -1.96770
108    4.14540   7.25700  -1.91530 -0.86078
...        ...       ...       ...      ...
815   -2.53460  -0.77392   3.36020  0.00171
283    4.92640   5.49600  -2.47740 -0.50648
475    0.49665   5.52700   1.77850 -0.47156
185   -0.12196   8.80680   0.94566 -4.22670
800   -3.60850   3.32530  -0.51954 -3.57370

[275 rows x 4 columns]

In [26]:
y_train

851     0
1225    1
1209    0
677     1
404     0
       ..
733     1
393     1
1006    1
710     0
955     0
Name: class, Length: 1097, dtype: int64

In [27]:
y_test

996     1
293     1
1241    0
1109    0
108     0
       ..
815     1
283     0
475     0
185     0
800     1
Name: class, Length: 275, dtype: int64

**Lets IMPORT GAUSSIAN NAIVE MODEL FROM SKLEARN & FIT IT ON OUR TRAIN VALUES**

In [28]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(X_train, y_train)

GaussianNB()

In [29]:
#lETS SEE OUR X_test DATA AND THEN PREDICT CLASSIFICATION WITH OUR TRAINED MODEL
X_test

      variance  skewness  curtosis  entropy
996   -1.58770  -6.60720   5.80220  0.31593
293   -3.26920 -12.74060  15.55730 -0.14182
1241   1.64500   7.86120  -0.87598 -3.55690
1109   1.42760   8.38470  -2.09950 -1.96770
108    4.14540   7.25700  -1.91530 -0.86078
...        ...       ...       ...      ...
815   -2.53460  -0.77392   3.36020  0.00171
283    4.92640   5.49600  -2.47740 -0.50648
475    0.49665   5.52700   1.77850 -0.47156
185   -0.12196   8.80680   0.94566 -4.22670
800   -3.60850   3.32530  -0.51954 -3.57370

[275 rows x 4 columns]

In [39]:
model.predict(X_test)
#model.predict([['-2.82670','-9.04070','9.06940','-0.982330']])

array([1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0,
       1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0,
       1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0,
       0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1], dtype=int64)

In [40]:
#MODEL SCORE
model.score(X_test,y_test)

0.7963636363636364